# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pyvenv.cfg
.venv/
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Simulation Outputs
results/
src/video_generation/videos/*.mp4
src/video_generation/videos/*.gif
